# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
*.xcuserstate
*.xcworkspace

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Tuist
Derived/
Tuist/Dependencies/
Tuist/Derived/
Project.swift
Workspace.swift

# DerivedData (очень важно)
DerivedData/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs
*.log

# Temporary files
*.swp
*.tmp