--swiftversion 6.0
--indent 4
--linebreaks lf
--semicolons never
--trailingcommas always
--importgrouping alphabetized
--exclude Tuist,.build,Derived,DerivedData,**/*.generated.swift,Project.swift,Tuist.swift
